#contact-container
  %h3 About Us
  %h5.subheader For the photos that move us, words that inspire us, and the moments that make us laugh.
  %p Every morning, I wake up and I’m instantly overwhelmed with information. Facebook, email, Instagram, Twitter, breaking news, more Facebook. Riddled with ADHD as I am, I find it hard to pause and reflect on what I am experiencing. Sometimes, in the thick of things, I manage to find something that truly inspires me -- more rarely, I get to write it down and actually reflect on it. But most of the time I scroll past it and forget that I felt inspired in the first place. I get sucked back into the void.

  %p My friend Sean and I started QuoteNote because we wanted to easily create beautiful things that inspire us. When I get out of bed, it invigorates me to see the photographs and quotes that inspire me on my wall, right there in front of me. It reminds me of why I wake up and helps me jump into the world and be my best self.

  %p We hope QuoteNote helps you to make that fleeting sense of inspiration a more permanent part of your life.

  %p -- Jeremy
