%h2 Thanks for your order!
%p= "Your order id is: #{@order.id}."
%p Expect to receive your order in about a week and a half.
%p Remember: you are awesome!

// I would like to put some cool image stuff in the email
// so that we can show off the stuff in our app.
