= render 'quotenote_form'

- content_for :footer_js do
  :javascript
    $(window).load(function(){
      params = #{@quote_note.serialize_for_client_json};
      window.qn.editor.init(params);
    });


