= render 'quotenote_form'


= form_for @background, :url => add_background_and_redirect_to_quotenote_path  do |f|
  .fileupload.button.fileupload-button
    %span Upload your own
    %i.fi-photo
    %span.upload-percentage
    = f.file_field :image





- content_for :footer_js do
  :javascript
    $(window).load(function(){
      window.qn.editor.init({'background_id': #{default_or_session_background}});
    });

