#products.six.columns
  %h2.section-header Available Products
  %br
  - @products.each do |product|
    = link_to product.name, product_quote_note_path(product, @quote_note)

#iframe-container.six.columns
  = image_tag @quote_note.image.url(:preview), :class => 'quote_note_preview'


- content_for :footer_js do
  :javascript
    $(window).load(function(){
      params = #{@quote_note.serialize_for_client_json};
      window.qn.editor.init(params);
    });
