#quotenote {
  // background-image: url('../img/patterns/swirl_pattern.png');
  &.cover-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .quote {
    padding: 160px;
    box-sizing: border-box;
    .quote-text{

    }
    .author-text {
      opacity: .7;
      float: right;
    }
  }
}

#editor {
  .fonts {
    .font {
      float: left;
      width: 120px;
      height: 24px;
      display: block;
      padding: 10px;
      border: 1px solid black;
      border-right: none;
      &:last-child {
        border-right: 1px solid black;
      }
      img {
        height: 24px;
      }
    }
  }

  .backgrounds {
    .bg {
      height: 50px;
      width: 50px;
      background-size: cover;
      background-position: center center;
      float: left;
      display: block;
      width: 120px;
      padding: 10px;
    }
  }
}

