#quotenote {
  // background-image: url('../img/patterns/swirl_pattern.png');
  &.cover-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .quote {
    padding: 160px;
    box-sizing: border-box;
    .quote-text{

    }
    .author-text {
      opacity: .7;
      float: right;
    }
  }
}

