.container
  %h2 Your photos. Your quotes.
  .row
    .four.columns
      %i.fi-upload
      %p Upload your photo.
    .four.columns
      %i.fi-pencil
      %p Write your quote.
    .four.columns
      %i.fi-mail
      %p Get it in the mail.
