#quotenote{:style => 'border: 1px solid black'}
  %iframe{:src => 'http://localhost:3000/generator?quote_text=Type%20your%20inspirational%20quote!&quote_author=You!&font_family=Laila', :style => 'width: 100%; height: 100%;'}

#editor
  .container
    %h2 Editor
    %button.button{:onclick => "window.qn.editor.cycle_quotes();"} Random Quote
    %button.button{:onclick => "window.qn.editor.change_quote_on_input();"} Change Quote
    %button.button{:onclick => "window.qn.editor.toggle_background();"} Toggle Background
    %button.button{:onclick => 'window.qn.editor.change_font();'} Change Font
    %input.minicolors.colorpicker{:type => "text"}

- content_for :footer_js do
  :javascript
    $(window).load(function(){
      window.qn.editor.init();
    });
