.container#editor-container
  .wrapper
    .row
      #iframe-container.six.columns
        #iframe
        .image-link-container
          %a.link_to_image.button Download
          %a.link_to_purchase.button Buy Postcard

      #editor.six.columns
        #text-editor
          %textarea#text-box{:placeholder => 'Your quote here.'}
          %input#author-box{:type=>'text', :placeholder => 'Author name here.'}
        %button.button{:onclick => "window.qn.editor.cycle_quotes();"} Random Quote

        %hr
        %h5 Text Options
        %input.minicolors.colorpicker{:type => "color"}
        = render :partial => 'font_picker'

        %hr
        %h5 Background Options
        = check_box_tag 'high_contrast'
        = label_tag 'high_contrast', 'increase contrast?', :class => 'high_contrast_label'
        / %button.button{:onclick => 'window.qn.editor.toggle_overlay();'} Overlay
        = render :partial => 'background_picker'


- content_for :footer_js do
  :javascript
    $(window).load(function(){
      window.qn.editor.init();
    });
