.container#editor-container
  .wrapper
    .row
      #iframe-container.six.columns
        #iframe
        .image-link-container
          %a.link_to_image.button Download
          %a.link_to_purchase.button Buy Postcard

      #editor.six.columns
        #text-editor
          %textarea#text-box
        %button.button{:onclick => "window.qn.editor.cycle_quotes();"} Random Quote
        %button.button{:onclick => 'window.qn.editor.toggle_overlay();'} Overlay
        %input.minicolors.colorpicker{:type => "text"}
        = render :partial => 'font_picker'
        = render :partial => 'background_picker'


- content_for :footer_js do
  :javascript
    $(window).load(function(){
      window.qn.editor.init();
    });
