#iframe-container

#editor
  .container
    %h2 Editor
    %button.button{:onclick => "window.qn.editor.cycle_quotes();"} Random Quote
    %button.button{:onclick => "window.qn.editor.change_quote_on_input();"} Change Quote
    %button.button{:onclick => 'window.qn.editor.change_font();'} Change Font
    %input.minicolors.colorpicker{:type => "text"}
    = render :partial => 'background_picker'

- content_for :footer_js do
  :javascript
    $(window).load(function(){
      window.qn.editor.init();
    });
