%h2 Thank you for your order! We love you!
%iframe.giphy-embed{:allowFullScreen => "", :frameBorder => "0", :height => "200", :mozallowfullscreen => "", :src => "//giphy.com/embed/d86kftzaeizO8", :style => "max-width: 100%", :webkitAllowFullScreen => "", :width => "480"}
%p
  Your order ID is:
  = @order.id
%p
  Want to send one as a gift?
  = link_to 'Make a new poster now!', new_quote_note_path


- content_for :footer_js do
  :javascript
    $(window).load(function(){
      analytics.track('Order Confirmation', {
        order_id: #{@order.id}
      })
    });

