.row
  .six.columns
    = render 'cart_summary', :header => 'Your Cart'
%br

=link_to 'Checkout', checkout_cart_path, :class => 'button button-pink', :id => 'checkout'
=link_to 'Add More Products', :back, :class => 'button'
=link_to empty_cart_path, :class => 'button', :method => :delete do
  %i.fi-trash
  Empty Cart



