#masthead
  .container
    %section.header
      %h2
        = link_to 'QuoteNote', root_path, :id => 'logo'
      %ul.nav-menu
        %li
          %a.shopping-cart{:href => '#'}
            %i.fi-shopping-cart
            Shopping Cart
            - if @cart.total_count > 0
              (
              = pluralize @cart.total_count, 'item'
              )
